In [17]:
import pandas as pd

In [59]:
dat = pd.read_csv('hello.csv',sep = " ")
f = pd.DataFrame(data=dat)
#f.to_excel("India_Financial_Buget_(Developmental and Non developmental.xlsx")
print(f)

     1990-91   2000-01   2006-07   2007-08   2008-09   2009-10   2010-11  \
0      48979  199886.0  326066.0  369942.0  457717.0  562609.0  620199.0
1      21498   99314.0  150272.0  169179.0  192204.0  213093.0  234022.0
2      15426   49622.0   85510.0   91681.0  114223.0  141781.0  154117.0
3         65     214.0     675.0     887.0     881.0    1185.0    2421.0
4        376    1603.0    2207.0    2166.0    2964.0    4193.0    3588.0
..       ...       ...       ...       ...       ...       ...       ...
108      -76       NaN       NaN       NaN       NaN       NaN       NaN
109     3181    7505.0    8473.0    9315.0   11015.0   11038.0   23556.0
110     5339   17328.0   16358.0   16809.0   21022.0   22177.0   35330.0
111     2159    9823.0    7886.0    7493.0   10007.0   11140.0   11774.0
112      572       0.0       0.0       0.0       0.0       0.0       0.0

      2011-12   2012-13   2013-14   2014-15
0    660551.0  740381.0  850437.0  964533.0
1    273150.0  313170.0  380066.0  427011.0
2    170913.0  181776.0  203672.0  229000.0
3      2206.0    2275.0    2249.0    2342.0
4      4302.0    4424.0    5267.0    5711.0
..        ...       ...       ...       ...
108       NaN       NaN       NaN       NaN
109   12449.0    7201.0    5440.0    5734.0
110   26034.0   23309.0   23565.0   28175.0
111   13586.0   16108.0   18124.0   22441.0
112       0.0       0.0       0.0       0.0

[113 rows x 11 columns]

In [63]:
f.fillna(0,inplace=True)
print(f)

     1990-91   2000-01   2006-07   2007-08   2008-09   2009-10   2010-11  \
0      48979  199886.0  326066.0  369942.0  457717.0  562609.0  620199.0
1      21498   99314.0  150272.0  169179.0  192204.0  213093.0  234022.0
2      15426   49622.0   85510.0   91681.0  114223.0  141781.0  154117.0
3         65     214.0     675.0     887.0     881.0    1185.0    2421.0
4        376    1603.0    2207.0    2166.0    2964.0    4193.0    3588.0
..       ...       ...       ...       ...       ...       ...       ...
108      -76       0.0       0.0       0.0       0.0       0.0       0.0
109     3181    7505.0    8473.0    9315.0   11015.0   11038.0   23556.0
110     5339   17328.0   16358.0   16809.0   21022.0   22177.0   35330.0
111     2159    9823.0    7886.0    7493.0   10007.0   11140.0   11774.0
112      572       0.0       0.0       0.0       0.0       0.0       0.0

      2011-12   2012-13   2013-14   2014-15
0    660551.0  740381.0  850437.0  964533.0
1    273150.0  313170.0  380066.0  427011.0
2    170913.0  181776.0  203672.0  229000.0
3      2206.0    2275.0    2249.0    2342.0
4      4302.0    4424.0    5267.0    5711.0
..        ...       ...       ...       ...
108       0.0       0.0       0.0       0.0
109   12449.0    7201.0    5440.0    5734.0
110   26034.0   23309.0   23565.0   28175.0
111   13586.0   16108.0   18124.0   22441.0
112       0.0       0.0       0.0       0.0

[113 rows x 11 columns]

In [66]:
import numpy as np
np.var(f)

1990-91    5.327137e+07
2000-01    6.415790e+08
2006-07    1.779779e+09
2007-08    2.595009e+09
2008-09    4.471500e+09
2009-10    7.613412e+09
2010-11    8.206625e+09
2011-12    1.044019e+10
2012-13    1.278012e+10
2013-14    1.518029e+10
2014-15    1.853570e+10
dtype: float64

In [67]:
import numpy as np
np.cov(f)

array([[ 7.74715781e+10,  3.28649095e+10,  1.83432660e+10, ...,
         1.67865141e+09,  1.46751906e+09, -2.73651612e+07],
       [ 3.28649095e+10,  1.42154952e+10,  7.74363916e+09, ...,
         6.63790791e+08,  6.40598256e+08, -1.16298052e+07],
       [ 1.83432660e+10,  7.74363916e+09,  4.35826375e+09, ...,
         4.03740451e+08,  3.43753693e+08, -6.59378200e+06],
       ...,
       [ 1.67865141e+09,  6.63790791e+08,  4.03740451e+08, ...,
         5.91533358e+07,  3.04486456e+07, -9.18928400e+05],
       [ 1.46751906e+09,  6.40598256e+08,  3.43753693e+08, ...,
         3.04486456e+07,  3.09300781e+07, -5.55318400e+05],
       [-2.73651612e+07, -1.16298052e+07, -6.59378200e+06, ...,
        -9.18928400e+05, -5.55318400e+05,  2.97440000e+04]])

In [64]:
np.corrcoef(f)

array([[ 1.        ,  0.9903307 ,  0.99827158, ...,  0.784151  ,
         0.94802992, -0.5700686 ],
       [ 0.9903307 ,  1.        ,  0.98380122, ...,  0.72387005,
         0.96608257, -0.56557702],
       [ 0.99827158,  0.98380122,  1.        , ...,  0.7951625 ,
         0.93626785, -0.57913278],
       ...,
       [ 0.784151  ,  0.72387005,  0.7951625 , ...,  1.        ,
         0.71184895, -0.69277526],
       [ 0.94802992,  0.96608257,  0.93626785, ...,  0.71184895,
         1.        , -0.57896441],
       [-0.5700686 , -0.56557702, -0.57913278, ..., -0.69277526,
        -0.57896441,  1.        ]])